* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #2B2888;
  --color-accent: #BA00B4;
  --color-black: #272932;
  --color-white: #D1C5C0;
}

body {
  font-family: 'Arial', sans-serif;
  overflow-x: hidden;
}

.scene {
  display: none !important;
}

.scene.active {
  display: flex !important;
}

.hidden {
  display: none !important;
}