/* SCENE 1 — SOLO estilos que aplican dentro de #scene-1 */

#scene-1.active {
    width: 100%;
    height: 100vh;
    background-color: var(--color-primary);
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#tittle {
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

/* --- PLAYER BOX --- */
#scene-1-player {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}

#scene-1-player img {
    width: 200px;
    height: 200px;
    background: white;
}

#scene-1-player h2 {
    color: white;
    font-size: 36px;
    font-weight: bold;
}

/* --- STATS BOX --- */
#scene-1-stats {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

#scene-1-stats div {
    margin: auto;
    padding: 4px;
    width: 150px;
    height: 55px;
    background: var(--color-secondary);
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 1px 1px black;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* --- BOTÓN --- */
#scene-1 #btn-to-scene-2 {
    margin-top: 20px;
    width: 120px;
    padding: 8px;
    font-size: 14px;
    background: white;
    border: 1px solid black;
    box-shadow: 1px 1px black;
    cursor: pointer;
}

#scene-1 #btn-to-scene-2:hover {
    transform: scale(1.1);
    transition: 0.1s ease-in-out;
}
