* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: rgba(43, 40, 136, 1);
    --color-secondary: rgba(194, 186, 186, 1);
    --color-accent: rgb(186, 0, 180);
}

#tittle {
    color: white;
    display: flex;
    justify-content: center;
    margin: 16px;
}

body {
    background-color: var(--color-primary);
    min-height: 10 0vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: center;
}

#inventory-container {
    background-color: var(--color-secondary);
    margin: 5%;
    display: flex;
    gap: 4px;
    padding: 4px;
}

.item {
    background-color: var(--color-accent);
    width: 100px;
    height: 100px;
}

.item img {
    height: 100%;
    width: 100%;
    filter: drop-shadow(2px 4px 6px black);
}

.item img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#scene-1 {
    height: 60%;
    width: 50%;
    margin: 32px;
    background-color: white;
}

#scene-1-stats {
    height: 20%;
}

#scene-1>div:first-child {
    height: 40%;
    display: flex;
    justify-content: space-between;
}

#scene-1>div:nth-child(2) {
    height: 50%;
}

#scene-1>div:nth-child(3) {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#scene-1 h2 {
    width: 30%;
    font-size: 2.5rem;
}

#scene-1-stats>div {
    height: 56px;
    margin: 8px;
    border: 1px solid black;
    padding: 8px;
    background-color: var(--color-secondary);
    box-shadow: 1px 1px black;
    display: flex;
    align-items: center;
}

#scene-1-stats>p {
    font-size: 2rem;
}

#scene-3 #btn-to-scene-1 {
    margin-top: 20px;
    width: 120px;
    padding: 8px;
    font-size: 14px;
    background: white;
    border: 1px solid black;
    box-shadow: 1px 1px black;
    cursor: pointer;
}

#scene-3 #btn-to-scene-1:hover {
    transform: scale(1.1);
    transition: 0.1s ease-in-out;
}